/* =============
    Base
============= */

// .large-images{
//     width: 100%;
// }

.show-large{
    display: none;
    @mixin lg{
        display: block;
    }
}

.show-extra-large{
    display: none;
    @mixin  lg{
        display: block;
    }
}

.large-images{
    width: 100vw;
}