/* =============
    articles
============= */
#articles {

    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". articles .";
    }

    @include xxl {
        grid-template-columns: auto 1200px auto;

    }

    >div {
       

       @include md{
        grid-area: artciles;
        display: grid;
        grid-template-columns: 50% auto;
       }

        section {

            img {
                width: 100%;
            }
        }

        .card {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". card .";
            background-color: rgb(9, 160, 160);

            >div {
                grid-area: card;
            }
        }
    }
}