/* =============
    classes
============= */

#classesTest {
    @include md {
        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". classes-cards .";
        // background-color: rgb(226, 175, 5);
    }

    @include xxl {
        grid-template-columns: auto 1200px auto;
    }

    >div {
        display: grid;
        gap: 16px;
        

        @include md {
            grid-area: classes-cards;
            grid-template-columns: 50% auto;
        }

        >aside {
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". classes .";
            background-color: #B2C5A7;
           
    
            >div {
                img{
                    padding: 10px 16px;
                }
    
                grid-area: classes;
                display: grid;
                grid-template-columns: 70% auto;
                padding: 10px 16px;


                button{
                    border: 1px solid black;
                    background-color: #8ea481;
                    border-radius: 5px;
                    padding: 10px 16px;
                    margin-top: 16px;
                    margin-left: 0;
                    margin-bottom: 12px;
                }
    
            }
        }
    }
}