/* =============
    Hero
============= */

#hero{
    background-image: url("img/heroes/hero1.png");
    background-size: cover;
    height: 50vh;
    display: flex;
    justify-content: center;

    @include md{
        height: 60vh;
        background-position: top;
    }

    @include xl{
        height: 70vh;
    }


}

.large-images{
   // width: 400px;
   background-color: darkgray;
}
   