/* =============
    recipe
============= */

#recipe{

    #recipe-bottom{
       
        section{

            @include md{
                display: grid;
                grid-template-columns: 40% auto;
            }
            display: grid;
            grid-template-columns: 16px auto 16px;
            grid-template-areas: ". recipe .";
            background-color: rgb(51, 138, 201);
            >div{
                grid-area: recipe ;
                
           }
        
            
           }

           #recipe-bottom-left{
            background-color: orange;
           }

           #recipe-bottom-right{
            background-color: purple;
           }
    }
    
 }